#comunidades
  .block-button
    width: 100%;
    padding: 40px;
    border: 1px solid #cacaca;
    font-size: 16px;
    text-align: center;
    min-height: 100px;
    margin-bottom: 10px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.15);
    &:not(.selected):hover
      background-color: yellow;
      cursor: pointer;
    &.selected
      background-color: orange;