.intro-comunidades
  padding: 0
  height: 700px
  background-image: unquote("url('lib/frontend/site/home-multiforum/background-comunidades-activas.jpg')")
  background-size: cover
  @media (max-width: 768px)
    height: 580px
  .container-fluid
    height: 100%
    background-image: linear-gradient(to right, rgba(18, 153, 89, 0.7) 2%, rgba(18, 153, 89, 0.7) 5%, rgba(17, 149, 93, 0.7) 19%, rgba(15, 140, 108, 0.7) 35%, rgba(12, 125, 132, 0.7) 53%, rgba(8, 103, 165, 0.7) 71%, rgba(3, 76, 207, 0.7) 90%, rgba(0, 60, 233, 0.7));
    display: flex
    align-items: center
  h2 
    font-family 'Dosis', sans-serif
    text-transform: uppercase
    font-size: 40px
    color: $secondary-color;
  p
    font-size: 24px
    color: white
    line-height: 1.2
    margin-top: 10px
#comunidades
  .block-button
    width: 100%;
    padding: 40px;
    border: 1px solid #cacaca;
    font-size: 16px;
    text-align: center;
    min-height: 100px;
    margin-bottom: 10px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 2px 1px 5px 0px rgba(0,0,0,0.15);
    &:not(.selected):hover
      background-color: yellow;
      cursor: pointer;
    &.selected
      background-color: orange;