#comunidades
  .block-button
    width: 100%;
    padding: 40px; 10px;
    border: 1px solid #cacaca;
    font-size: 24px;
    text-align: center;
    &:not(.selected):hover
      background-color: yellow;
      cursor: pointer;
    &.selected
      background-color: orange;