.forum-description
  padding: 60px 0;
  background-image: unquote("url('lib/frontend/site/home-multiforum/background-waves-yellow.png')")
  h3
    font-family: 'Dosis', sans-serif
    font-size: 32px
    color: $main-link-color
    text-transform: uppercase
    margin-bottom: 60px

.stat-container
  text-align: center
  .stat-title
    font-family: 'Dosis', sans-serif
    color: $main-link-color
    font-size: 25px
    text-align: center
    line-height: 1.1
    margin-bottom: 30px;
  .stat-value
    width: 150px
    height: 150px
    background-color: $main-link-color;
    border-radius: 100%
    display: inline-block
    margin-bottom: 20px
    span
      font-size: 70px
      color: $secondary-color
      text-align: center
      font-family: 'Dosis', sans-serif
      line-height: 150px;
      text-align: center;
  .spinning-loader 
    width: 40px
    height: 40px
    margin: 13px auto 0
    border: 5px solid rgba(29, 161, 242, 0.2)
    border-left-color: $main-color
    border-radius: 50%
    background: transparent
    animation-name: rotate-s-loader
    animation-iteration-count: infinite
    animation-duration: 1s
    animation-timing-function: linear
    position: relative

.alert.alert-danger.text-center
  text-align: center
  
@keyframes rotate-s-loader
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)