.searchbar-container
  margin-bottom: 35px
  display:flex
  flex-direction:column

.searchbar
  display:flex
  justify-content:center
  input
    width:100%
    max-width: 355px
    height:40px
    margin-bottom:5px
    outline: 0
    border: none
    box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #f4f4ef;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 0px 20px;
    &:hover
      outline: 0
  button
    width:9%
    min-width: 100px
    height:40px
    font-family: 'Dosis', sans-serif
    color: $main-link-color
    font-weight: bold
    font-size: 22px
    border: 0
    text-transform: uppercase
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(to right, #ffab5e 0%, #ffe900 100%);
    cursor: pointer
    &:focus
      outline: none

.advancedsearch
  padding:20px
  display:flex
  flex-direction:column
  margin-left:auto
  margin-right:auto
  z-index:1
  background:#fff
  .form-group.item-form
    margin-top: 10px

  .checkbox
    display:flex
    width:100%
  label
    padding-right: 30px
  input
    margin-right:10px
    font-size:14px
  select
    width:200px
    font-size:14px
    height:30px !important
  legend
    font-size:14px
    font-weight:500
    padding:10px 0px
  .reiniciar
    font-size:14px
  .fecha-form
    margin-top:10px
  .fecha
    display:flex
    align-items: center
    label
      margin-bottom: 0px
    #fecha
      width:200px
      font-size:14px
      height:30px
.button-link
  display:flex
  justify-content:flex-end
  margin-bottom:10px
  &.form
    margin-bottom:0
    button
      text-decoration:none !important
      text-transform:none !important
      margin-left:5px
      height:40px
      padding-top:10px
      margin-bottom:0
