.ext-footer
  padding 40px 0
  font-size 1em
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  background-image: linear-gradient(to right, #129959 2%, #129959 5%, #11955d 19%, #0f8c6c 35%, #0c7d84 53%, #0867a5 71%, #034ccf 90%, #003ce9)

  .footer
    max-width 1180px
    margin 0 auto
    display flex
    flex-direction row
    flex-wrap wrap
    align-items flex-start
    justify-content space-between

  .institutional
    flex-grow 2

    p
      max-width 560px
  a
    color $secondary-color
    font-family 'Dosis', sans-serif
    text-transform uppercase
    font-weight 400
    font-size 18px
    &:hover
      color $secondary-color
      text-decoration underline

  .logo
    span
      display block
      color #aaa
      &:hover
        opacity 1

  .gob
    // padding-right 30px
    margin-bottom 30px
    text-align: right
    img
      max-width 100%
      width 80%

  .menu
    padding 0 15px
    text-align left

    &:first-of-type
      flex-grow 3

    &.menu-right
      text-align right

    a
      display block
      padding 10px 0

  .copyright
    color white
    font-size 14px
    width 100%
    margin-top 20px
    padding 0
    margin-bottom 0
    a
      font-family: 'Raleway', sans-serif
      text-transform: none
      font-size: 14px
  .copyright-links 
    color $secondary-color

  @media only screen and (max-width: 687px)
    .footer
      flex-direction column
      flex-wrap wrap
      padding 0 10px

    .menu
      padding-right 0
      a
        display block
        line-height 1em

    .gob
      img
        width 100%

    .institutional
      padding 0 15px

  @media (max-width: 544px)
    .institutional
      order 1
    .first-menu
      order 2
    .second-menu
      order 3
      .menu-right
        text-align left
  
