.topic-card
  cursor: pointer

button.flickity-prev-next-button
  svg
    display: none    
  background: none
  background-repeat: no-repeat 
  background-size: contain
  border-radius: 0
  border: none
  width: 48px
  height: 47px
  &:hover
    background: none
  &.previous
    left -45px
    @media (min-width: 576px)
      left -70px
  &.next
    right -45px
    @media (min-width: 576px)
      right -70px
button.flickity-prev-next-button.previous
  background-image: url('lib/frontend/site/home-multiforum/left-arrow.svg')
button.flickity-prev-next-button.next
  background-image: url('lib/frontend/site/home-multiforum/right-arrow.svg')  

.flickity-resize 
  .topic-card
    @media (min-width: 600px)
      min-height: calc(100% - 55px);
  .flickity-viewport
    padding: 20px 0;
    box-sizing: content-box;
  
@import './topic-card/styles'

