  .panel.panel-default
    .panel-heading
      min-height:160px
  .panel-comunidad
    color: #707070
    padding: 10px;
    b
      color: #000000;
  .panel-heading
    height:152px
    border-radius: 12px;
  .topic-card-wrapper  
    display:flex
    flex-direction:column
    justify-content:space-between
    // height:140px
    .meta-information
      color: #707070
    .panel-body
      padding: 10px;
      box-shadow: none;
      // padding-top:0px !important
      // overflow:hidden
      // max-height:70px
    .time-ago-label
      padding-left:5px  
  .meta-information
    font-size:0.8em
    


  .topic-card-footer
    margin-top:auto
  
  .participants-box
    span
      display:none
  .social-links
    margin-left:auto
  .share-links
    a
      margin-left:10px 
      margin-right:5px 
      display: inline-block
      img 
        height: 20px

  .topic-card
    max-width: 100%
    width: 66.6%
    min-height:200px
    margin: 10px 1% 10px;
    border-radius: 12px;
    box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #f4f4ef;
    @media screen and (min-width: 750px)
      width: 32%

    .panel-body
      .action-topic
        color: $main-color;
        font-size: 0.85rem;
        img
          width: 18px;
          display: inline-block;
          vertical-align: top;
          margin-right: 4px;
      h3
        font-size:1rem
        font-weight: 500;
    p.text-muted
      font-size:0.9em
      padding-left:10px
      display:inline-block
      margin-bottom:0
      @media screen and (min-width: 750px)
        margin-bottom:10px

    .topic-card-footer
      display: flex
      flex-direction: row

.facebook-icon
.twitter-icon
  background-size: cover
  background-repeat: no-repeat
  display: inline-block
  margin-top: 0
  margin-right: 3%
  width: 15px
  height: 15px
  @media screen and (min-width: 750px)
    width: 35px
    height: 35px

.twitter-icon
  background-image: url('ext/lib/site/cards-slider/twitter.svg')

.facebook-icon
  background-image: unquote("url('ext/lib/site/cards-slider/facebook.svg')")

.icon-clock
  font-size:13px
@import 'ext/node_modules/flickity/dist/flickity.css'
